
.pic 
{
    height:500px;
    width:1500px;
    border:5px solid black;
    display:flex;
    align-items: center;
    column-gap: 100px;
    background-color: aquamarine;

}
img:hover
{
    opacity:30%;
}
.sa1{
    font-size: 50px;
    padding:20px;

}
.sah{
    font-size: 25px;
    position: fixed;
    width:100%;
    margin-top: -10px;
    background-color: lightgreen;

}
.li{
    height:40px;
    width:1000px;
    display:flex;
    padding:20px;
    
    
}
.bg4{
    background-color: whitesmoke;
    color: red;
    font-size: 100px;
    position: fixed;
    width:100%;
    margin-top: -10px;
}
.bg1{
    color: peachpuff;
    background-color: royalblue;
    font-size: 100px;
    position: fixed;
    width:100%;
    margin-top: -10px;
}
.bg5{
    color: cyan;
    background-color: grey;
    font-size: 70px;
    position: fixed;
    width:100%;
    margin-top: -10px;
}
.bg{
    color: cyan;
    background-color: black;
    font-size: 100px;
    position: fixed;
    width:100%;
    margin-top: -10px;
}
.bg3{
    background-color: black;
    color: yellow;
    font-size: 100px;
    position: fixed;
    width:100%;
    margin-top: -10px;
}
.bg2{
    background-color: lightcoral;
    color:aliceblue;
    font-size: 100px;
    position: fixed;
    width:100%;
    margin-top: -10px;
}
.ach{
    font-size: 25px;
    padding:25px;
    
}
pre{
    font-size:15px;
}
h1{
    color: blue;
}
.txt{
    width:100%;
    text-align: center;
}
.n
{
    font-size:25px;
}
img{
    padding:30px;
}

